/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
build-profile.json5
/.mimosa
/.vscode
/.zcode
.native-build-arm64/
.native-build-x86_64/
.native-x64-*.log
.entry/src/main/cpp/.hvigor/
entry/src/main/cpp/.hvigor/
